<div class="col-sm-3 col-md-3">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list">
        </span> Results</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <% if user_signed_in? %>
            <tr>
              <td>
                  <span class="glyphicon glyphicon-pencil text-primary"></span>
                  <%= link_to "My Results",my_results_users_path %>
              </td>
            </tr>
            <tr>
            <% end %>
              <td>
                  <span class="glyphicon glyphicon-flash text-success"></span>
                  <%= link_to "All Results",all_results_users_path %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-list">
        </span> Tests</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>
                  <span class="glyphicon glyphicon-pencil text-primary"></span>
                  <%= link_to "My Tests",my_tests_user_tests_path(current_user) %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>